<% if (!data.success) { %>
  <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw"></span> <%= data.message %></p>
<% } else { %>  
  <h2><%= `${page}: ${data.message.author.name}` %></h2>
  <% if (data.message.booksWithAuthor.length === 0) { %>
    <p class="message warning-message"><span class="fa fa-exclamation-triangle fa-lg fa-fw"></span> Are you sure you want to delete this author?</p>
    <form method="post" novalidate>
      <input type="hidden" name="authorID" value="<%= data.message.author._id %>" id="author-id" required />
      <div class="button-group">
        <button type="submit" class="button">Yes, Delete this author</button>
      </div>
    </form>
  <% } else { %>
    <section>
      <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw"></span> Delete the following books before attempting to delete this author.</p>
    </section>
    <section>
      <h3>Books by this Author</h3>
      <% data.message.booksWithAuthor.sort((a, b) => a.title.toLowerCase().localeCompare(b.title.toLowerCase())).forEach(book => { %>
        <div class="detail-card">
          <h4>
            <a href="<%= book.url %>" target="_self"><cite><%= book.title %></cite></a>
          </h4>
          <p><%= book.summary %></p>
        </div>
      <% }) %>
    </section>
  <% } %>
<% } %>