<% if (!data.success) { %>
  <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw"></span> <%= data.message %></p>
<% } else { %>  
  <h2><%= page %></h2>
  <form method="post" novalidate>
    <div class="form-group">
      <label for="title">Title <abbr class="required-field" title="The book title is required." aria-label="required">*</abbr></label>
      <input type="text" name="title" value="<%= data.message.book ? data.message.book.title : '' %>" id="title" required />
    </div>
    <div class="form-group">
      <label for="author">Author <abbr class="required-field" title="The book's author is required." aria-label="required">*</abbr></label>
      <div class="select-wrapper">
        <select name="author" id="author" required>
          <option value="placeholder" disabled selected>Please select the book's author</option>
          <% data.message.authors.sort((a, b) => a.name.toLowerCase().localeCompare(b.name.toLowerCase())).forEach(author => {
            const selected = data.message.book && data.message.book.author && data.message.book.author._id.toString() === author._id.toString() ? 'selected' : '';
            %><option value="<%= author._id %>" <%= selected %>><%= author.name %></option>
          <% }) %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="isbn">ISBN <abbr class="required-field" title="The ISBN number is required." aria-label="required">*</abbr></label>
      <input type="text" name="isbn" value="<%= data.message.book ? data.message.book.isbn : '' %>" id="isbn" required />
    </div>
    <div class="form-group">
      <label for="summary">Summary <abbr class="required-field" title="The book's summary is required." aria-label="required">*</abbr></label>
      <textarea name="summary" rows="8" id="summary" required><%= data.message.book ? data.message.book.summary : '' %></textarea>
    </div>
    <div class="form-group">
      <fieldset>
        <legend>Genre</legend>
        <% data.message.genres.sort((a, b) => a.name.toLowerCase().localeCompare(b.name.toLowerCase())).forEach(genre => {
          const checked = data.message.book && (data.message.book.genre.some(item => item._id.toString() === genre._id.toString()) || data.message.book.genre.includes(genre._id)) ? 'checked' : '';
          %><label class="check-label" for="genre-<%= genre._id%>" /><%= genre.name %>
            <input type="checkbox" name="genre" value="<%= genre._id %>" tabindex="-1" id="genre-<%= genre._id %>" <%= checked %> />
            <span class="checkmark checkbox" tabindex="0"></span>
          </label>
        <% }) %>
      </fieldset>
    </div>
    <div class="button-group">
      <button type="submit" class="button">Submit</button>
    </div>
  </form>
  <% if (errorMessage) { %>
    <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw"></span> <%= errorMessage %></p>
  <% } %>
<% } %>