<% if (!data.success) { %>
  <p class="message error-message"><span class="fa-solid fa-circle-exclamation fa-lg fa-fw" aria-hidden="true"></span> <%= data.message %></p>
<% } else { %>
  <h2><%= page.heading %>: <cite><%= page.details %></cite></h2>
  <% if (data.message.bookCopiesWithBook.length === 0) { %>
    <p class="message warning-message"><span class="fa-solid fa-triangle-exclamation fa-lg fa-fw" aria-hidden="true"></span> Are you sure you want to delete this book?</p>
    <form method="post" novalidate>
      <input type="hidden" name="bookID" value="<%= data.message.book._id %>" id="book-id" autocomplete="off" required />
      <div class="button-group">
        <button type="submit" class="button">Yes, Delete this book</button>
        <a class="button" href="<%= data.message.book.url %>" target="_self">Cancel</a>
      </div>
    </form>
  <% } else { %>
    <section>
      <p class="message error-message"><span class="fa-solid fa-circle-exclamation fa-lg fa-fw" aria-hidden="true"></span> Delete the following book copies before attempting to delete this book.</p>
    </section>
    <section>
      <h3>Book Copies</h3>
      <% data.message.bookCopiesWithBook.forEach(bookCopy => { %>
        <div class="detail-card">
          <div class="detail-item"><strong>ID:</strong> <a href="<%= bookCopy.url %>" target="_self"><%= bookCopy._id %></a></div>
          <div class="detail-item"><strong>Status:</strong> <span class="status <%= bookCopy.status.toLowerCase() %>"><%= bookCopy.status %></span></div>
          <div class="detail-item"><strong>Publisher:</strong> <%= bookCopy.publisher %></div>
          <% if (bookCopy.status === 'Loaned') { %>
            <div class="detail-item"><strong>Due Back:</strong> <%= bookCopy.dueBackFormatted %></div>
          <% } %>
        </div>
      <% }) %>
    </section>
  <% } %>
<% } %>