<% if (!data.success) { %>
  <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw"></span> <%= data.message %></p>
<% } else { %>  
  <h2>Book Copy ID: <%= page %></h2>
  <section class="details-container">
    <div class="detail-item"><strong>Title:</strong> <a href="<%= data.message.book.url %>" target="_self"><cite><%= data.message.book.title %></cite></a></div>
    <div class="detail-item"><strong>Status:</strong> <span class="status <%= data.message.status.toLowerCase() %>"><%= data.message.status %></span></div>
    <div class="detail-item"><strong>Publisher:</strong> <%= data.message.publisher %></div>
    <% if (data.message.status === 'Loaned') { %>
      <div class="detail-item"><strong>Due Back:</strong> <%= data.message.dueBackFormatted %></div>
    <% } %>
  </section>
  <section>
    <div class="button-group">
      <a class="button" href="<%= `${data.message.url}/delete` %>" target="_self">Delete Book Copy</a>
      <a class="button" href="<%= `${data.message.url}/update` %>" target="_self">Edit Book Copy</a>
    </div>
  </section>
  <p><a href="<%= data.message.book.url %>" target="_self">View all book copies with this title...</a></p>
<% } %>
