<% if (!data.success) { %>
  <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw"></span> <%= data.message %></p>
<% } else { %>
  <h2><%= page.heading && page.details ? `${page.heading}: ${page.details}` : page %></h2>
  <form method="post" novalidate>
    <div class="form-group">
      <label for="book">Book <abbr class="required-field" title="The book copy's associated book is required." aria-label="required">*</abbr></label>
      <div class="select-wrapper">
        <select name="book" id="book" required>
          <option value="placeholder" disabled selected>Please select the book copy's associated book</option>
          <% data.message.books.sort((a, b) => a.title.toLowerCase().localeCompare(b.title.toLowerCase())).forEach(book => {
            const selected = data.message.bookCopy && data.message.bookCopy.book && data.message.bookCopy.book._id.toString() === book._id.toString() ? 'selected' : '';
            %><option value="<%= book._id %>" <%= selected %>><%= book.title %> -- ISBN: <%= book.isbn %></option>
          <% }) %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="publisher">Publisher <abbr class="required-field" title="The book copy's publisher is required." aria-label="required">*</abbr></label>
      <input type="text" name="publisher" value="<%= data.message.bookCopy ? data.message.bookCopy.publisher : '' %>" id="publisher" required />
    </div>
    <div class="form-group">
      <label for="status">Status <abbr class="required-field" title="The book copy's status is required." aria-label="required">*</abbr></label>
      <div class="select-wrapper">
        <select name="status" id="status" required>
          <% const statusOptions = ['Available', 'Reserved', 'Loaned', 'Maintenance'];
          statusOptions.forEach(statusOption => {
            const selected = (!data.message.bookCopy && statusOption === 'Maintenance') || (data.message.bookCopy && data.message.bookCopy.status && data.message.bookCopy.status === statusOption) ? 'selected' : ''; %>
            <option value="<%= statusOption %>" <%= selected %>><%= statusOption %></option>
          <% }) %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="due-back">Due Back (leave empty if Status is not set to Loaned)</label>
      <input type="date" name="dueBack" placeholder="YYYY-MM-DD" value="<%= data.message.bookCopy && data.message.bookCopy.dueBack ? data.message.bookCopy.dueBackInput : '' %>" id="due-back" />
    </div>
    <div class="button-group">
      <button type="submit" class="button">Submit</button>
      <a class="button" href="<%= page.heading && page.details ? data.message.bookCopy.url : '/catalog' %>" target="_self">Cancel</a>
    </div>
  </form>
  <% if (errorMessage) { %>
    <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw"></span> <%= errorMessage %></p>
  <% } %>
<% } %>