<h2><%= page.heading %></h2>
<% if (!data.success) { %>
  <p class="message error-message"><span class="fa-solid fa-circle-exclamation fa-lg fa-fw" aria-hidden="true"></span> <%= data.message %></p>
<% } else { %>
  <% if (data.message.genres.length === 0) { %>
    <p class="message info-message"><span class="fa-solid fa-circle-info fa-lg fa-fw" aria-hidden="true"></span> There are currently no genres in the library's catalog at this time.</p>
  <% } else { %>  
    <table>
      <thead>
        <tr>
          <th scope="col">Genre Name</th>
          <th scope="col">Book Count</th>
        </tr>
      </thead>
      <tbody>
        <% data.message.genres.sort((a, b) => a.name.toLowerCase().localeCompare(b.name.toLowerCase())).forEach(genre => { %>
          <tr>
            <td>
              <a href="<%= genre.url %>" target="_self"><%= genre.name %></a>
            </td>
            <%
              const bookCountWithGenre = data.message.books.reduce((acc, bookItem) => {
                const isGenreWithBook = bookItem.genre.filter(genreItem => genreItem.name === genre.name);
                if (isGenreWithBook.length > 0) acc++;
                return acc;
              }, 0);
            %>
            <td><%= bookCountWithGenre %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %> 
<% } %>