<% if (!data.success) { %>
  <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw" aria-hidden="true"></span> <%= data.message %></p>
<% } else { %>
  <h2><%= page.heading %>: <%= page.details %></h2>
  <% if (data.message.booksWithGenre.length === 0) { %>
    <p class="message warning-message"><span class="fa fa-exclamation-triangle fa-lg fa-fw" aria-hidden="true"></span> Are you sure you want to delete this genre?</p>
    <form method="post" novalidate>
      <input type="hidden" name="genreID" value="<%= data.message.genre._id %>" id="genre-id" required />
      <div class="button-group">
        <button type="submit" class="button">Yes, Delete this genre</button>
        <a class="button" href="<%= data.message.genre.url %>" target="_self">Cancel</a>
      </div>
    </form>
  <% } else { %>
    <section>
      <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw" aria-hidden="true"></span> Delete the following books before attempting to delete this genre.</p>
    </section>
    <section>
      <h3>Books in this Genre</h3>
      <table>
        <thead>
          <tr>
            <th scope="col">Book Title</th>
            <th scope="col">Author</th>
          </tr>
        </thead>
        <tbody>
          <% data.message.booksWithGenre.sort((a, b) => a.title.toLowerCase().localeCompare(b.title.toLowerCase())).forEach(book => { %>
            <tr>
              <td>
                <a href="<%= book.url %>" target="_self"><cite><%= book.title %></cite></a>
              </td>
              <td>
                <a href="<%= book.author.url %>" target="_self"><%= book.author.name %></a>
              </td>
            </tr>
          <% }) %> 
        </tbody>
      </table>
    </section>
  <% } %>
<% } %>